/* src/components/Planet.css */

.planet {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    backdrop-filter: blur(10px);
    background-size: 134px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    transform: translate(-50%, -50%) rotate(35deg) scale(0.25);
    transition: all 600ms cubic-bezier(.79,.14,.31,1.16);
}

.planet.final {
    opacity: 1;
    transform: var(--planet-transform) rotate(0) scale(1);
    pointer-events: auto;
}

.planet.animate-to-center {
    transform: translate(0, 0) scale(0.5);
}

.planet:hover {
    transform: var(--planet-transform) scale(1.15);
    transition: transform 0.2s ease-in-out;
}

.planet img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* margin-bottom: 10px; */
}

.planet::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(174deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    pointer-events: none;
}

@media (max-width: 768px) {
    .planet {
        width: 65px;
        height: 65px;
    }

    .planet img {
        width: 50px;
        height: 50px;
    }
}